# Project exclude paths
/.gradle/
/androidApp/build/
/androidApp/build/intermediates/javac/debug/classes/
/desktopApp/build/
/shared/build/
/shared/appModules/featureBackendApi/build/
/shared/appModules/featureBackendApi/src/main/kotlin/com/sychev/kmp_sample/backend/api/utils/api_key/
iosApp/iosApp.xcodeproj/project.xcworkspace/xcuserdata/